# NOTE: building this source package requires an internet
#       connection as it downloads a prebuilt release of
#       pypy as a build dependency
Source: turnkey-pypy2
Section: misc
Priority: optional
Maintainer: Jeremy Davis <jeremy@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 gcc,
 libffi-dev,
 pkgconf,
 libexpat1-dev,
 zlib1g-dev,
 libncurses-dev,
 libbz2-dev,
 libssl-dev,
 libgdbm-dev,
 binutils,
 upx-ucl,
 curl,
Homepage: https://pypy.org/
Vcs-Browser: https://github.com/turnkeylinux/turnkey-pypy2
Vcs-Git: https://github.com/turnkeylinux/turnkey-pypy2.git
Standards-Version: 4.0.0

Package: turnkey-pypy2
Architecture: any
Depends:
 libssl3t64,
Breaks: turnkey-pypy2-full
Replaces: turnkey-pypy2-full
Description: Pypy2 python runtime for use by TKLBAM (trimmed)
 A "trimmed" version of the pypy2 runtime for TKLBAM. This should
 provide full TKLBAM functionality.
 .
 If TKLBAM problems arise please install 'turnkey-pypy2-full' and
 retry. Please report TKLBAM issues to TurnKey Linux regardless.

Package: turnkey-pypy2-full
Architecture: any
Depends:
 libssl3t64,
Breaks: turnkey-pypy2
Replaces: turnkey-pypy2
Description: Pypy2 python runtime for use by TKLBAM (full)
 The "full" version of the pypy2 runtime for TKLBAM. This package
 should not be required and is only provided in case edge case
 tklbam issues occur using the "trimmed" 'turnkey-pypy2' package.
 .
 If TKLBAM does not function properly without this package, please
 report to TurnKey.
