#! /usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

execute_before_dh_clean:
	# dh_clean will clean all other build files (in debian/tmp)
	rm -rf pypy-src
	rm -rf pypy-bin
	rm -rf pypy-build

override_dh_auto_build:
	./pypy-build.sh
	./pypy-build-minimal.sh
